<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>About</title>

</head>

<body>
    {{>header}}
    
    <img src="/img/pikachu.jpg">
    <p>Create by Nguyen Ly Thai Duong</p>
    {{>footer}}

</body>

</html>